<article>
  <h2><a routerLink="/projects">Projects</a></h2>
  <p></p>
  <h2>&nbsp;Apps</h2>
  <p>
    <!--specifies complete, self-contained content -->
  </p>
  <ul>
    <li><a routerLink="/projects/image-resizer">Image Resizer</a></li>
    <li><a href="https://www.microsoft.com/en-us/p/image-viewer/9nd45c9v3zpw">Image Viewer</a></li>
    <li><a href="https://www.microsoft.com/en-us/store/p/coffee-clock/9nblggh442p4">Coffee Clock</a></li>
    <li><a href="https://www.microsoft.com/en-us/store/p/file-renamer/9nblggh4rkqt">File Renamer</a></li>
  </ul>
  <h3>Web Projekte</h3>
  <ul>
    <li><a href="http://www.reparaturcafe-feldkirch.at">http://www.reparaturcafe-feldkirch.at</a></li>
    <li><a routerLink="/projects/discret-convolution">discret convolution calculator</a></li>
  </ul>
  <p></p>
</article>
