<article>
  <h2><a routerLink="/projects">Projects</a></h2>
  <p></p>
  <h2>&nbsp;Apps</h2>
  <p>
    <!--specifies complete, self-contained content -->
  </p>
  <ul>
    <li><a href="https://www.microsoft.com/en-us/store/p/resize-image/9p87m9tknkvl">Image Resizer</a></li>
    <li><a href="https://www.microsoft.com/en-us/store/p/coffee-clock/9nblggh442p4">Coffee Clock</a></li>
    <li><a href="https://www.microsoft.com/en-us/store/p/file-renamer/9nblggh4rkqt">File Renamer</a></li>
  </ul>
  <h3>Rly Old Stuff</h3>
  <ul>
    <li><a href="https://www.microsoft.com/en-us/store/p/rezept-verwaltung/9n06wvnw8nbd">Recipe Application</a></li>
  </ul>
  <h3>Tools</h3>
  <ul>
    <li><a href="http://archiv.get-the-solution.net/media/file/OutlookExportContacts.zip">Export Outlook contacts</a></li>
  </ul>
  <p></p>
  <hr>
</article>