<article>
    <h2><a routerLink="/contact.html"> Contact</a></h2>
    <h3>Team</h3>
    <h4>Martin Fetzel</h4>
    <img src="../../assets/img/contact/me.jpg" alt="Martin" style="width: 80px; height: 80px; border-radius: 50%; float: left; margin-right: 10px;" />
    <p>Hi there 👋!</p>
    <p> My current fields of interest are: C#, Azure, Linux</p>
    <p>Some social activity:</p>
    <ul>
        <li>📝<a href="https://github.com/mfe-" target="_blank">github projects</a></li>
        <li>🎙️<a href="https://mastodon.social/@mfe_" target="_blank">mastodon</a> </li>
    </ul>
    <p>Blogs I read:</p>
    <ul>
        <li><a href="https://xoofx.github.io/">Alexandre Mutel - aka xoofx</a></li>
        <li><a href="https://andrewlock.net/">Andrew Lock | .NET Escapades</a></li>
    </ul>
    <h4>Simon Fetzel</h4>
    fields of interest: PHP, C#, C, Javascript, Typescript, Virtualization
    <p></p>
    <h3>General contact</h3>
    <p>support [at] get - the - solution dot net</p>
    <p> </p>
</article>