<!--defines header of document or section-->
<header class="">
    <a href="https://get-the-solution.net" target="_blank">
        <img src="assets/logo/get-the-solution_signet_rgb.svg" height="40px">
    </a>
    <h1>{{ title }}</h1>
</header>
<!--defines navigation region of page or section-->
<nav>
    <ul>
        <!-- client side routing  -->
        <li><a routerLink="home.html">Home</a></li>
        <li><a routerLink="projects.html">Projects</a></li>
        <li><a routerLink="blog.html">Blog</a></li>
        <li><a routerLink="contact.html">Contact</a></li> 
       
        <!-- <li><a href="home.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li> -->
    </ul>
    <hr>
</nav>