<!--defines header of document or section-->
<header class="">
    <img src="assets/logo/get-the-solution_signet_rgb.svg" height="40px">
    <h1>{{ title }}</h1>
</header>
<!--defines navigation region of page or section-->
<nav>
    <ul>
        <!-- <li><img src="assets/logo/get-the-solution_signet_rgb.svg" width="20px" height="20px"></li> -->
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="projects">Projects</a></li>
        <li><a routerLink="blog">Blog</a></li>
        <li><a routerLink="contact">Contact</a></li>
    </ul>
    <hr>
</nav>