<article>
  <h2><a href=" https://get-the-solution.net/home/"> Home</a></h2>


  <p></p>
  <p>Wir beschäftigen uns mit Software- und Webentwicklung in den Sprachen C#, PHP und Typescript. Seit 2016 sind auch
    erste <a href="http://get-the-solution.net/projects/" target="_blank" rel="noopener">Apps</a> in Entwicklung.
    Artikel und kurze Blogeinträge veröffentlichen wir <a href="/" target="_blank" rel="noopener">hier</a>.</p>
  <p>Die alte Seite ist unter <a href="http://archiv.get-the-solution.net" target="_blank" rel="noopener">archiv.get-the-solution.net</a>
    erreichbar.</p>
  <p></p>
  <hr>
</article>