<article>
  <!-- -->
  <div style="float: left; width: 15%; ">
    <!-- <img src="assets/logo/gruen.svg" /> -->
  </div>
  <div>
    <h2><a routerLink="/home"> Hi there! My name is Martin 👋 </a></h2>
    <h3>🚀 Today...</h3>
    <p>...the website <a href="http://www.get-the-solution.net">get-the-solution.net</a> its main topic is
      software engineering. With this website, I document solutions and events related to problems I encounter during my
      daily work by publishing articles or blog entries.</p>
    <p>An overview of articles and blog entries can be found <a routerLink="/category">here</a>.</p>
    <p>More about <a routerLink="/contact">me</a>.</p>
  </div>
  <div style="float: left; width: 15%; ">
    <!-- <img src="assets/logo/pink.svg" /> -->
  </div>
  <div style="clear: both;"></div>
</article>