<article>
    <h2><a routerLink="/impressum">Impressum</a></h2>
    <p>Herausgeber nach <a href="https://www.ris.bka.gv.at/NormDokument.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10000719&Artikel=&Paragraf=25&Anlage=&Uebergangsrecht=">Mediengesetz § 25 (5)</a></p>
    <p>Name: Get-the-solution</p>
    <p>Wohnort: AT, Wien</p>
    <h2>Rechtlicher Hinweis</h2>

    <h2>Geistiges Eigentum</h2>
    <p>Für sämtliche Werke (z.B. Texte) auf dieser "Website", die nicht mit einer speziellen Lizenz (wie z.B. der CC-Lizenz) versehen worden sind, gilt automatisch der Urheberschutz. 
       Für die Erlangung der Nutzungsrechte (z.B. für die Verwendung von Texten oder anderen Materialien) bitte um eine kurze Email.</p>
    <p>Teilweise werden Texte (z.B. einzelne Blogeinträge) auf diesem Webauftritt unter der <a href="https://creativecommons.org/licenses/by/4.0/">Create Common Licence</a> angeboten. (Davon ausgenommen sind die Quellcodes, die den jeweilig beigelegten Lizenzen unterliegen.)</p>
    <p>Um Inhalte unter der CC-Lizenz verwenden zu können, ist es ausreichend den Autor und die Adresse bei der Quellenangabe aufzuführen. Über eine Emailverständigung würden wir uns dennoch freuen.</p>
    <p></p>
</article>