<article>
    <h2><a routerLink="/impressum">Impressum</a></h2>
    <p>Herausgeber nach <a href="https://www.ris.bka.gv.at/NormDokument.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10000719&Artikel=&Paragraf=25&Anlage=&Uebergangsrecht=">Mediengesetz § 25 (5)</a></p>
    <p>Name: Get-the-solution</p>
    <p>Wohnort: AT, Wien</p>
    <h2>Rechtlicher Hinweis</h2>

    <h2>Geistiges Eigentum</h2>
    <p>Teilweise werden Texte (z.B. einzellne Blogeinträge) auf diesem Webauftritt werden unter der <a href="https://creativecommons.org/licenses/by/4.0/">Create Common Licence</a> angeboten.
    <p>Davon ausgenommen sind die Quellcodes, die den jeweilig beigelegten Lizenzen unterliegen.</p>
    <p>Sollte das CC Logo fehlen, bitte einfach nachfragen.</p>
    <p></p>
</article>