<article>
    <h2><a routerLink="/privacy">Privacy</a></h2>
    <h3>1. Datenschutz</h3>
    <p>Dieser Webauftritt ist so konfiguriert, dass keine Personenbezogene Daten gespeichert werden. 
        Die Website greift auf die externe Servicedienstleistung "Google Analytics" zurück um 
        das Nutzererlebnis zu verbessern.</p>
    <h4>2. Google Analytics</h4>
    <p>Diese Website nutzt den Dienst "Google Analytics", welcher von der Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, USA) angeboten wird, zur Analyse der Websitebenutzung durch Nutzer. Der Dienst verwendet „Cookies“ – Textdateien, welche auf Ihrem Endgerät gespeichert werden. Die durch die Cookies gesammelten Informationen werden im Regelfall an einen Google-Server in den USA gesandt und dort gespeichert.
        Auf dieser Website greift die IP-Anonymisierung. Die IP-Adresse der Nutzer wird innerhalb der Mitgliedsstaaten der EU und des Europäischen Wirtschaftsraum gekürzt. Durch diese Kürzung entfällt der Personenbezug Ihrer IP-Adresse. Im Rahmen der Vereinbarung zur Auftragsdatenvereinbarung, welche die Websitebetreiber mit der Google Inc. geschlossen haben, erstellt diese mithilfe der gesammelten Informationen eine Auswertung der Websitenutzung und der Websiteaktivität und erbringt mit der Internetnutzung verbundene Dienstleistungen.
        Sie haben die Möglichkeit, die Speicherung des Cookies auf Ihrem Gerät zu verhindern, indem Sie in Ihrem Browser entsprechende Einstellungen vornehmen. Es ist nicht gewährleistet, dass Sie auf alle Funktionen dieser Website ohne Einschränkungen zugreifen können, wenn Ihr Browser keine Cookies zulässt.
        Weiterhin können Sie durch ein Browser-Plugin verhindern, dass die durch Cookies gesammelten Informationen (inklusive Ihrer IP-Adresse) an die Google Inc. gesendet und von der Google Inc. genutzt werden. Folgender Link führt Sie zu dem entsprechenden Plugin: <a href="https://tools.google.com/dlpage/gaoptout?hl=de">https://tools.google.com/dlpage/gaoptout?hl=de</a>
        Hier finden Sie weitere Informationen zur Datennutzung durch die Google Inc.: <a href="https://support.google.com/analytics/answer/6004245?hl=de">https://support.google.com/analytics/answer/6004245?hl=de</a> </p>
    <p>Folgende "Google Analytics" Einstellungen werden verwendet.</p>
        <code>
        [   {{'{'}} fieldName: 'anonymizeIp', value: 'true' {{'}'}}, 
        {{'{'}}fieldName: 'allowAdFeatures', value: 'false'{{'}'}},  
        {{'{'}}fieldName: 'allow_display_features', value: 'false'{{'}'}},  
        {{'{'}}fieldName: 'cookieDomain', value: 'auto'{{'}'}},   ]
    </code>
</article>