<article>
    <h2><a routerLink="/image-resizer">Image Resizer</a></h2>
    <p></p>
    Get <a href="https://www.microsoft.com/en-us/store/p/resize-image/9p87m9tknkvl">Image Resizer</a> from the Windows Store.
    <h3>Other</h3>
    We moved our organisation structure to github, to be more transparent. 
    Now you can create <a href="https://github.com/mfe-/Get.the.solution.ImageCore/issues" target="_blank">feature requests</a> or <a href="https://github.com/mfe-/Get.the.solution.ImageCore/issues" target="_blank">bug reports</a> on github for "Image Resizer".
    You can comment and upvote existing feature requests as well. To do so, you need an account on github (which is for free).
    <hr>
  </article>