@font-face {
    font-family: 'Josefin Sans';
    src: url(fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: 'Spectral';
    src: url(fonts/Spectral-Regular.ttf);
}

header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    text-align: center;
}

.center {
    margin: 0 auto;
    width: 70%;
}

nav {
    text-align: center;
    font-size: 1.5em;
}

nav ul {
    font-family: 'Josefin Sans', sans-serif;
    list-style-type: none;
    list-style: none;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
pre
{
   font-size: 1.0em;
   border:1px solid #ccc;
   border-radius:.25rem;
   background-color:#f9f9f9;
   padding: .5em;
   overflow-x:scroll;
}

/* Change the link color to #111 (black) on hover */

nav li a:hover {
    background-color: #111;
    color: #00a874;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

section h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
}
section h2 a:link, section h2 a:visited, section h2  a:active {
  color: inherit; 
  text-decoration: inherit; 
  font-family:inherit;
}

main {
    font-family: 'Spectral', serif;
    font-size: 1.2em;
    /**position: relative;
    transform: translate(-50%);
    float: left;**/
    left: 50%;

}
span.regards a:link, span.regards a:visited, span.regards a:hover  {
  color: inherit; 
  text-decoration: inherit; 
  font-family:inherit;
}
article {

}

.author {
    white-space: nowrap;
    display: inline;
}

a:link {
    color: #00a874;
    background-color: transparent;
}

a:visited {
    color: #00a874;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #00a874;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #00a874;
    background-color: transparent;
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

footer {
    margin: 0 !important;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1rem;
    /*background-color: #efefef;*/
    text-align: center;
}

@media screen and (max-width: 600px) {
    .center
    {
        margin:initial;
        width:initial;
        padding:0.9em;
    }
    .wp-pagenavi {
        font-size: 1.5em;
    }
    .wp-pagenavi a, .wp-pagenavi span
    {
        padding: 10px 5px;
    }
}